/* 
Navigation bar background color -- 03032b
Text Color (white) -- D8CFC5
Highlighted (yellow) -- EACA86
*/

@font-face {
  font-family: laSignora;
  src: url(fonts/LaSignora-DemoVersion-Regular.otf);
}

@font-face {
  font-family: theBlowar;
  src: url(fonts/TheBlowarRegular-d91mZ.ttf);
}

@font-face {
  font-family: bismark;
  src: url(fonts/Bismarck.otf);
}

:root {
  --dark-blue: #03032b;
  --darker-white: #d8cfc5;
  --gold-yellow: #eaca86;
}

* {
  font-family: "laSignora";
  color: white;

}

body {
  background-image: url("images/MIWACLE-BACKGROUND.png");
  background-size: cover;
  font-size: 1.4rem;
}

h1 {
  font-size: 6rem;
  font-family: "bismark";
  color: var(--gold-yellow);
  text-decoration-line: underline;
}

/* TEXT AND BACKGROUND COLOR */
.bg-dark-blue {
  background-color: #03032b !important;
}

.bg-semi-transparent-white {
  background-color: hsla(235, 62%, 31%, 0.25) !important;
}

.text-color-specialYellow {
  color: #eaca86 !important;
}

.text-color-yellow {
  color: #cf920f !important;
}

.text-color-gold-yellow {
  color: var(--gold-yellow) !important;
}

/* NAV CLASSES AND IDS*/
#logo {
  width: 75px;
  height: 75px;
}

.nav-link:hover {
  color: var(--gold-yellow) !important;
}

.nav-item a {
  color: #d8cfc5;
}

nav {
  margin-bottom: 10vh;
}
/* HEADER FRAME */
#headerFrame {
  width: 494.4px;
  height: 251.52px;
}

/* Vision Mission Contaier */

#pagesContainer {
  padding: 1rem;
}

#pagesContainer > div {
  width: 650px;
  height: 650px;

  display: grid;
  grid-template-rows: 100px 100px 300px 50px;
  grid-template-areas: "." "header" "text";
  gap: 0.5rem;

  background-size: cover;

  text-align: center;
}

#pagesContainer > #Mission {
  background-image: url(images/MISSION.png);
}

#pagesContainer > #Vision {
  background-image: url(images/VISION.png);
}

#pagesContainer input {
  display: inline;
}

#pagesContainer h1 {
  grid-area: header;
}

#pagesContainer p {
  grid-area: text;
}

#pagesContainer > div {
  grid-area: text;
}

/* FOOTER */
#footer {
  padding: 2rem;
  background-image: url("images/MIWACLE-FOOTER-BG.png");
  background-size: cover;
}

#footer * {
  color: white;
  font-family: "theBlowar";
}

.icon {
  width: 2rem;
  height: 2rem;
}