/* 
Navigation bar background color -- 03032b
Text Color (white) -- D8CFC5
Highlighted (yellow) -- EACA86
*/

@font-face {
  font-family: laSignora;
  src: url(fonts/LaSignora-DemoVersion-Regular.otf);
}

@font-face {
  font-family: theBlowar;
  src: url(fonts/TheBlowarRegular-d91mZ.ttf);
}

@font-face {
  font-family: bismark;
  src: url(fonts/Bismarck.otf);
}

:root {
  --dark-blue: #03032b;
  --darker-white: #d8cfc5;
  --gold-yellow: #eaca86;
}

* {
  font-family: "laSignora";
  color: white;
}

body {
  background-image: url("images/MIWACLE-BACKGROUND.png");
  background-size: cover;
  font-size: 1.4rem;
}

h1 {
  font-size: 6rem;
  font-family: "bismark";
  color: var(--gold-yellow);
  text-decoration-line: underline;
}

/* TEXT AND BACKGROUND COLOR */
.bg-dark-blue {
  background-color: #03032b !important;
}

.bg-semi-transparent-white {
  background-color: hsla(235, 62%, 31%, 0.25) !important;
}

.text-color-specialYellow {
  color: #eaca86 !important;
}

.text-color-yellow {
  color: #cf920f !important;
}

.text-color-gold-yellow {
  color: var(--gold-yellow) !important;
}

/* REUSABLE */
.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.linkButton {
  border: 2px solid var(--gold-yellow);
  border-radius: 10px;
  background-color: var(--dark-blue);
  padding: 0.25rem 1rem;

  display: inline;
}

/* NAV CLASSES AND IDS*/
#logo {
  width: 75px;
  height: 75px;
}

.nav-link:hover {
  color: var(--gold-yellow) !important;
}

.nav-item a {
  color: #d8cfc5;
}

/* FOOTER */
#footer {
  padding: 2rem;
  background-image: url("images/MIWACLE-FOOTER-BG.png");
  background-size: cover;
}

#footer * {
  color: white;
  font-family: "theBlowar";
}

.icon {
  width: 2rem;
  height: 2rem;
}